<br />
<style>
  p {
    margin-left: 25px;
  }

  div.box {
    border-style: outset;
  }

  @media print {
    .noprint {
      display: none;
    }
  }

</style>
<div class="container">
  <div class="row noprint" style="background-color: #337ab7; width: 80%">
    <div class="col-md-1">
      <p style="margin-left: 0px">
        <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedCCA')" [attr.aria-expanded]="!isCollapsedCCA"
          aria-controls="collapseCCA">
          <h5>CCA</h5>
        </button>
      </p>
    </div>
    <div class="col-md-1">
      <p style="margin-left: 0px">
        <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedCCG')" [attr.aria-expanded]="!isCollapsedCCG"
          aria-controls="collapseCCG">
          <h5>CCG</h5>
        </button>
      </p>
    </div>
    <div class="col-md-1">
      <p style="margin-left: 0px">
        <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedCCW')" [attr.aria-expanded]="!isCollapsedCCW"
          aria-controls="collapseCCW">
          <h5>CCW</h5>
        </button>
      </p>
    </div>
    <div class="col-md-1">
      <p style="margin-left: 0px">
        <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedCPACS')" [attr.aria-expanded]="!isCollapsedCPACS"
          aria-controls="collapseCPACS">
          <h5>CPACS</h5>
        </button>
      </p>
    </div>
    <div class="col-md-1">
      <p style="margin-left: 0px">
        <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedCRMA')" [attr.aria-expanded]="!isCollapsedCRMA"
          aria-controls="collapseCRMA">
          <h5>CRMA</h5>
        </button>
      </p>
    </div>
    <div class="col-md-1">
      <p style="margin-left: 0px">
        <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedDoseWatch')" [attr.aria-expanded]="!isCollapsedDoseWatch"
          aria-controls="collapseDoseWatch">
          <h5>DoseWatch</h5>
        </button>
      </p>
    </div>
    <div class="col-md-1">
        <p style="margin-left: 0px">
          <button type="button" class="btn btn-primary" (click)="changeCollapse('isCollapsedLB')" [attr.aria-expanded]="!isCollapsedLB"
            aria-controls="collapseLB">
            <h5>LB</h5>
          </button>
        </p>
      </div>
  </div>
  <div class="row noprint">
    <div class="col" *ngFor="let opt of cca">
      <div id="collapseCCA" [ngbCollapse]="isCollapsedCCA">
        <div class="card">
          <div class="card-body">
            <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,
            opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of ccg">
      <div id="collapseCCG" [ngbCollapse]="isCollapsedCCG">
        <div class="card">
          <div class="card-body">
            <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,
              opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of ccw">
      <div id="collapseCCW" [ngbCollapse]="isCollapsedCCW">
        <div class="card">
          <div class="card-body">
            <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,
              opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of cpacs">
      <div id="collapseCPACS" [ngbCollapse]="isCollapsedCPACS">
        <div class="card">
          <div class="card-body">
            <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,
                opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of crma">
      <div id="collapseCRMA" [ngbCollapse]="isCollapsedCRMA">
        <div class="card">
          <div class="card-body">
            <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,
                  opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of dosewatch">
      <div id="collapseDoseWatch" [ngbCollapse]="isCollapsedDoseWatch">
        <div class="card">
          <div class="card-body">
            <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,  opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of lb">
        <div id="collapseLB" [ngbCollapse]="isCollapsedLB">
          <div class="card">
            <div class="card-body">
              <input type="checkbox" (change)="showItems(opt.Application); vCPU($event, opt.vCPU, opt.vRAM, opt.RAID5GP1,  opt.RAID10GP2, opt.RAID5GP3, opt.RAID5GP4, opt.IOPS)"> {{ opt.Application }}
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let opt of cca">
      <div id="{{ opt.Application }}" style="display:none">
        <div class="col-md-10 box">
          <h5>Application: {{ opt.Application }}</h5>
          <p class="hello"> OS: {{ opt.OS }}
            <br /> Database: {{ opt.Database }}
            <br /> vRAM: {{ opt.vRAM }}
            <br /> vCPU: {{ opt.vCPU }}
            <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
            <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
            <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
            <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
            <br /> IOPS: {{ opt.IOPS }}
            <br /> Interface 1: {{ opt.Interface1 }}
            <br /> Interface 2: {{ opt.Interface2 }}
            <br /> Interface 3: {{ opt.Interface3 }}
            <br /> Notes: {{ opt.Notes }}
            <br />
          </p>
          <div id="{{ opt.vCPU }}" (click)="vCPU(opt.vCPU)">vCPU: {{ opt.vCPU }}</div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of ccg">
      <div id="{{ opt.Application }}" style="display:none">
        <div class="col-md-10 box">
          <h5>Application: {{ opt.Application }}</h5>
          <p> OS: {{ opt.OS }}
            <br /> Database: {{ opt.Database }}
            <br /> vRAM: {{ opt.vRAM }}
            <br /> vCPU: {{ opt.vCPU }}
            <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
            <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
            <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
            <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
            <br /> IOPS: {{ opt.IOPS }}
            <br /> Interface 1: {{ opt.Interface1 }}
            <br /> Interface 2: {{ opt.Interface2 }}
            <br /> Interface 3: {{ opt.Interface3 }}
            <br /> Notes: {{ opt.Notes }}
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of ccw">
      <div id="{{ opt.Application }}" style="display:none">
        <div class="col-md-10 box">
          <h5>Application: {{ opt.Application }}</h5>
          <p> OS: {{ opt.OS }}
            <br /> Database: {{ opt.Database }}
            <br /> vRAM: {{ opt.vRAM }}
            <br /> vCPU: {{ opt.vCPU }}
            <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
            <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
            <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
            <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
            <br /> IOPS: {{ opt.IOPS }}
            <br /> Interface 1: {{ opt.Interface1 }}
            <br /> Interface 2: {{ opt.Interface2 }}
            <br /> Interface 3: {{ opt.Interface3 }}
            <br /> Notes: {{ opt.Notes }}
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of cpacs">
      <div id="{{ opt.Application }}" style="display:none">
        <div class="col-md-10 box">
          <h5>Application: {{ opt.Application }}</h5>
          <p> OS: {{ opt.OS }}
            <br /> Database: {{ opt.Database }}
            <br /> vRAM: {{ opt.vRAM }}
            <br /> vCPU: {{ opt.vCPU }}
            <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
            <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
            <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
            <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
            <br /> IOPS: {{ opt.IOPS }}
            <br /> Interface 1: {{ opt.Interface1 }}
            <br /> Interface 2: {{ opt.Interface2 }}
            <br /> Interface 3: {{ opt.Interface3 }}
            <br /> Notes: {{ opt.Notes }}
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of crma">
      <div id="{{ opt.Application }}" style="display:none">
        <div class="col-md-10 box">
          <h5>Application: {{ opt.Application }}</h5>
          <p> OS: {{ opt.OS }}
            <br /> Database: {{ opt.Database }}
            <br /> vRAM: {{ opt.vRAM }}
            <br /> vCPU: {{ opt.vCPU }}
            <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
            <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
            <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
            <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
            <br /> IOPS: {{ opt.IOPS }}
            <br /> Interface 1: {{ opt.Interface1 }}
            <br /> Interface 2: {{ opt.Interface2 }}
            <br /> Interface 3: {{ opt.Interface3 }}
            <br /> Notes: {{ opt.Notes }}
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of dosewatch">
      <div id="{{ opt.Application }}" style="display:none">
        <div class="col-md-10 box">
          <h5>Application: {{ opt.Application }}</h5>
          <p> OS: {{ opt.OS }}
            <br /> Database: {{ opt.Database }}
            <br /> vRAM: {{ opt.vRAM }}
            <br /> vCPU: {{ opt.vCPU }}
            <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
            <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
            <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
            <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
            <br /> IOPS: {{ opt.IOPS }}
            <br /> Interface 1: {{ opt.Interface1 }}
            <br /> Interface 2: {{ opt.Interface2 }}
            <br /> Interface 3: {{ opt.Interface3 }}
            <br /> Notes: {{ opt.Notes }}
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let opt of lb">
        <div id="{{ opt.Application }}" style="display:none">
          <div class="col-md-10 box">
            <h5>Application: {{ opt.Application }}</h5>
            <p> OS: {{ opt.OS }}
              <br /> Database: {{ opt.Database }}
              <br /> vRAM: {{ opt.vRAM }}
              <br /> vCPU: {{ opt.vCPU }}
              <br /> RAID 5 GP1: {{ opt.RAID5GP1 }}
              <br /> RAID 1/0 GP2: {{ opt.RAID10GP2 }}
              <br /> RAID 5 GP3: {{ opt.RAID5GP3 }}
              <br /> RAID 5 GP4: {{ opt.RAID5GP4 }}
              <br /> IOPS: {{ opt.IOPS }}
              <br /> Interface 1: {{ opt.Interface1 }}
              <br /> Interface 2: {{ opt.Interface2 }}
              <br /> Interface 3: {{ opt.Interface3 }}
              <br /> Notes: {{ opt.Notes }}
              <br />
            </p>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-10 box">
        <h4>Totals</h4>
        <p> vRAM: : {{ vRAMSum }}
          <br /> vCPU: {{ vCPUSum }}
          <br /> RAID: {{ RAIDSum }}
          <br /> IOPS: {{ IOPSSum }}
        </p>
      </div>
    </div>
  </div>
